name: kocak
 
on: 
  workflow_dispatch:
    inputs:
      authcode:
        description: 'masukin CRD codenya'
        required: true
 
jobs:
  build:
    runs-on: windows-latest
 
    steps:
    - uses: actions/checkout@v3
    - name: Initializing Setup
      run: cmd /c config.bat
    - name: dewa
      run: cmd /c show.bat
    - name: Time Counter
      run: Start-Sleep -Seconds 14400
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
